# Yarn and npm
yarn-error.log
npm-debug.log
node_modules

# Webstorm files
.idea/*

# Vim swap files
*.swp
*.swo

# Sublime files
*.sublime-workspace
*.sublime-project

# Actual test output
/__tests__/actual-*
