@media (prefers-color-scheme: dark){
  .darkmode{
    background:#fff;
  }
}

.trigonometry{
  line-height:.70711;
  line-height:1;
  -webkit-transform:rotate(-90deg);
  transform:rotate(-90deg);
  -webkit-transform:rotate(89.99995deg);
  transform:rotate(89.99995deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  -webkit-transform:rotate(0deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  transform:rotate(0deg);
  -webkit-transform:rotate(-135deg);
  transform:rotate(-135deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  -webkit-transform:rotate(80.53768deg);
  transform:rotate(80.53768deg);
}

.test-functions{
  padding:8px 3px 1px calc(3px + 50%);
  -webkit-transform:rotate(-50deg);
  transform:rotate(-50deg);
  top:16px;
  right:16px;
  bottom:21px;
  left:12px;
  width:12px;
}

.foo{
  opacity:.45;
}

body{
  font:16pt/28pt fangsong,STFangsong,FangSong,FangSong_GB2312;
}

.foo{
  width:max(10px,min(4em,1280px));
  width:max(10px,min(4em,80rem));
}

.bar{
  width:max(10em,14px);
}

.bars{
  width:24px;
}

.foo:nth-child(1n){
  color:blue;
}

.foo{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  will-change:transform;
}

@font-face{
  src:url(file.woff2) format("woff2")
}

.bar,.baz,.foo,.foy,.foz{
  -webkit-flex:1 1;
  flex:1 1;
}

.fox{
  -webkit-flex-grow:1;
  flex-grow:1;
  -webkit-flex-shrink:0;
  flex-shrink:0;
  -webkit-flex-basis:calc(1vw - 1px);
  flex-basis:calc(1vw - 1px);
}

.foo{
  padding-top:env(safe-area-inset-top);
  margin:5em 5em calc(5em + env(safe-area-inset-bottom));
}

h1{
  font-size:32px;
  height:calc(100px - 2em);
  width:calc(var(--base-width)*2);
  margin-bottom:24px;
}

.test1{
  -webkit-clip-path:url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.5 0, 0 1, 1 1"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
  clip-path:url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.5 0, 0 1, 1 1"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
  -webkit-clip-path:polygon(50% 0,0 100%,100% 100%);
  clip-path:polygon(50% 0,0 100%,100% 100%);
}

.foo{
  --redundant-border:hsla(var(--primary-color),0.5);
  border:1px solid var(--redundant-border);
}

.bar{
  --redundant-box-shadow:rgb(var(--secondary-color));
  box-shadow:inset 1px 1px 4px rgb(var(--secondary-color));
  box-shadow:inset 1px 1px 4px var(--redundant-box-shadow);
}

p{
  text-indent:2em;
  text-indent:2ic;
}

.bubble{
  width:calc(8em + 20px);
  width:calc(8ic + 20px);
}

.sky{
  margin:2.5rem 2px 3em 100%;
  color:blue;
}

@media screen and (min-width: 20rem){
  .leaf{
    margin-bottom:1.333rem;
    font-size:1.5rem;
  }
}

.element{
  display:inline-block;
}

.overflow-wrap{
  word-wrap:break-word;
  overflow-wrap:break-word;
}

html{
  overflow-x:hidden;
  overflow-y:auto;
}

.overflow-clip{
  overflow:hidden;
  overflow:clip;
}

.overflow-hidden{
  overflow:hidden;
}

.overflow-combined-1{
  overflow-x:hidden;
  overflow-x:clip;
  overflow-y:hidden;
}

.overflow-combined-2{
  overflow-x:hidden;
  overflow-x:clip;
  overflow-y:auto;
}

.full-modern{
  color:#00ff80;
  color:hwb(150 0 0);
}

.alpha-modern{
  color:rgba(43,0,255,.5);
  color:hwb(250 0 0/.5);
}

.existing-fallback{
  color:rgba(0,170,255,.5);
  color:hwb(200 0 0/.5);
}

.color{
  color:#b32323;
  color:color(display-p3 .64331 .19245 .16771);
}

:root{
  --a-color:#a4312b;
}

@supports (color: color(display-p3 0 0 0)){
  :root{
    --a-color:color(srgb 0.64331 0.19245 0.16771);
  }
}

:root{
  --brand-red:#ff8000;
  --brand-red-hsl:#ff8000;
  --brand-red-hwb:#ff8000;
  --brand-red-dark:#c00;
}

.heading{
  color:#639;
}

p{
  color:#62acef;
  color:oklab(72.322% -.0465 -.115);
  background-color:#62acef;
  background-color:oklch(72.322% .12403 247.996);
}

.color-lab{
  color:#b32323;
  color:lab(40% 56.6 39);
}

.color-lab-outside-srgb{
  color:#c20031;
  color:color(display-p3 .71499 0 .19398);
  color:lab(40% 80 39);
}

.color-lch{
  color:#b32323;
  color:lch(40% 68.735435 34.568626);
}

body{
  background:rgba(153,221,153,.8);
}

header{
  background-color:#fff;
  color:rgba(0,0,0,.9);
}

:root{
  --firebrick:#b22222;
  --firebrick-a50:rgba(179,34,34,.5);
  --firebrick-hsl:#b42222;
  --firebrick-hsl-a50:rgba(180,34,34,.5);
}

p:not(:first-child):not(.special){
  color:red;
}

:-moz-any(.good),:-moz-any(.well),:-moz-any(p,ul,ol),[class^=base-]:-moz-any(a){
  color:blue;
}

:-webkit-any(.good),:-webkit-any(.well),:-webkit-any(p,ul,ol),[class^=base-]:-webkit-any(a){
  color:blue;
}

.bar,.foo{
  color:blue;
}

nav :link>span,nav :visited>span{
  background-color:#ff0;
}

.example{
  -webkit-align-self:center;
  align-self:center;
  justify-self:center;
  -webkit-align-content:space-between;
  align-content:space-between;
  -webkit-justify-content:center;
  justify-content:center;
}

.foo{
  page-break-inside:avoid;
  -webkit-column-break-inside:avoid;
  break-inside:avoid;
  page-break-after:always;
  -webkit-column-break-after:page;
  break-after:page;
}

article h1+p,article h2+p,article h3+p{
  margin-top:0;
}

a,b{
  color:red;
}

a c,a d,b c,b d{
  color:#fff;
}

@media screen and (min-width:500px) and (max-width: 1200px){
  .bar{
    display:block;
  }
}

@media (max-width: 30em){
  .postcss-custom-media-test{
    color:red;
  }
}

h2{
  font-feature-settings:"smcp";
  font-variant-caps:small-caps;
}

table{
  font-feature-settings:"lnum";
  font-variant-numeric:lining-nums;
}

.example{
  text-decoration:underline;
  -webkit-text-decoration:underline wavy purple;
  text-decoration:underline wavy purple;
  text-decoration-thickness:.25em;
}

.example2{
  -webkit-text-decoration:underline;
  text-decoration:underline;
  -webkit-text-decoration-style:dotted;
  text-decoration-style:dotted;
}

:root{
  --color:red;
}

h1{
  color:red;
  color:var(--color);
}

.variable-test1{
  --test:red;
  color:red;
  color:var(--test,green);
}

.variable-test2{
  --test2:red;
  color:red;
  color:var(--test2);
}

.variable-test3{
  color:green;
  color:var(--test3,green);
}

.variable-test4{
  color:var(--test4);
}

.linear-gradient{
  background-image:linear-gradient(90deg,#000 25%,#000 50%,blue 0,blue 75%);
  background-image:linear-gradient(90deg,#000 25% 50%,blue 50% 75%);
}

.conic-gradient{
  background-image:conic-gradient(#9acd32 40%,gold 0deg,gold 75%,#f06 0deg);
  background-image:conic-gradient(#9acd32 40%,gold 0deg 75%,#f06 0deg);
}

.system-ui{
  font-family:system-ui,-apple-system,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue;
}

.test{
  color:#7d7e7e;
}

.foo{
  inset-inline-start:8px;
}

.image-set{
  background-image:url(img/test.png);
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution: 192dpi){
  .image-set{
    background-image:url(img/test-2x.png);
  }
}

@media (-webkit-min-device-pixel-ratio:6.25),(min-resolution: 600dpi){
  .image-set{
    background-image:url(my-img-print.png);
  }
}

.test-z-index{
  z-index:50;
}

.test-alpha-value{
  opacity:.2;
  background-color:hsla(210,2%,51%,.2);
  color:rgba(12,40,80,.2);
}

.test__ten{
  height:20px;
  outline-offset:2px;
}

.test__ten,.test__ten:before{
  position:relative;
  display:inline-block;
}

.test__ten:before{
  content:"";
  top:3px;
  vertical-align:top;
  width:36px;
  height:14px;
  border-radius:7px;
  background-color:currentColor;
  -webkit-filter:opacity(.125);
  filter:opacity(.125);
  transition:background-position .1s,-webkit-filter .1s;
  transition:background-position .1s,filter .1s;
  transition:background-position .1s,filter .1s,-webkit-filter .1s;
}

.test__eleven:checked+.test__ten:before{
  background-color:currentColor;
  background-color:var(--ccc-accent-color,currentColor);
  -webkit-filter:opacity(.5);
  filter:opacity(.5);
}

.test__ten:after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  align-items:center;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:#fff;
  color:#fff;
  font:700 12px Arial,sans-serif;
  box-shadow:0 1px 3px 0 rgba(0,0,0,.4);
  transition:background-color .1s,-webkit-transform .1s;
}

.test__eleven:checked+.test__ten:after{
  background-color:currentColor;
  background-color:var(--ccc-accent-color,currentColor);
  -webkit-transform:translateX(16px);
  transform:translateX(16px);
}

.test__eleven:focus+.test__ten{
  outline:2px solid currentColor;
}

.test__eleven:not(:focus-visible)+.test__ten{
  outline-color:transparent;
}

.test__twelve{
  display:inline-block;
  vertical-align:top;
  width:calc(100% - 56px);
  -webkit-margin-start:16px;
  margin-inline-start:16px;
  -webkit-margin-start:1rem;
  margin-inline-start:1rem;
  padding:1px 0;
}

.test__twenty{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  margin:4px;
  fill:currentColor;
  transition:fill .1s,-webkit-transform .1s;
  transition:transform .1s,fill .1s;
  transition:transform .1s,fill .1s,-webkit-transform .1s;
}

.test__eleven:checked+.test__ten>.test__twenty{
  color:#fff;
}

.test__eleven:checked+.test__ten>.test__twenty,[dir=rtl] .test__eleven+.test__ten:after,[dir=rtl] .test__eleven+.test__ten>.test__ten__twenty{
  -webkit-transform:translateX(16px);
  transform:translateX(16px);
}

[dir=rtl] .test__eleven:checked+.test__ten:after,[dir=rtl] .test__eleven:checked+.test__ten>.test__twenty{
  -webkit-transform:none;
  transform:none;
}

.test:not(.test--icon)>.test__eleven:checked+.test__ten:after{
  content:"I";
}

@media (forced-colors: active){
  .test__eleven{
    display:inline-block;
  }
  .test__ten{
    display:none;
  }
}

@media (prefers-color-scheme: dark){
  .test__ten:after{
    background-color:#dadce0;
  }
  .test__eleven:not(:checked)+.test__ten:before{
    -webkit-filter:opacity(.25);
    filter:opacity(.25);
  }
}
